# ============ (.env.dev, .env.staging, .env.prod) ============
# Hosts the server is running on: 127.0.0.1 (localhost), 0.0.0.0 (all), ...
DJANGO_HOST=
# Ports the server is running on: 443 (SSL), 8000 (Django's default), ...
DJANGO_PORT=
# Log levels: INFO, WARNING, DEBUG, ERROR, CRITICAL
DJANGO_LOG_LEVEL=
# 127.0.0.1(, localhost, 0.0.0.0, ...)
DJANGO_ALLOWED_HOSTS=
DJANGO_SECRET_KEY=
DJANGO_SECRET_KEY_FALLBACKS=

# Django SSL (mostly for local imitation)
# True/False (Default: False)
DJANGO_SSL=False
DJANGO_SSL_KEYFILE=
DJANGO_SSL_CERTFILE=

# Django Postgres DB
DJANGO_POSTGRES=False
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# Django Redis DB
DJANGO_REDIS=False


# Google reCAPTCHA (via https://www.google.com/recaptcha/admin/create)
DJANGO_RECAPTCHA_PUBLIC_KEY=
DJANGO_RECAPTCHA_PRIVATE_KEY=
