# ============ (.env.dev, .env.staging, .env.prod) ============
# Hosts the server at: 127.0.0.1 (localhost), 0.0.0.0 (all), ...
# Comment if using DJANGO_UDS
DJANGO_HOST=
# Ports the server at: 443 (SSL), 8000 (Django's default), ...
# Comment if using DJANGO_UDS
DJANGO_PORT=
# In case you use UNIX Domain Socket (commented by default)
# Thus, you should either use DJANGO_UDS or both DJANGO_HOST & DJANGO_PORT
# DJANGO_UDS=
# development, staging, production
DJANGO_ENVIRONMENT=
# https://docs.djangoproject.com/en/stable/topics/settings/#envvar-DJANGO_SETTINGS_MODULE
DJANGO_SETTINGS_MODULE=config.settings
# Log levels: INFO, WARNING, DEBUG, ERROR, CRITICAL
DJANGO_LOG_LEVEL=
# 127.0.0.1(, localhost, 0.0.0.0, ...)
DJANGO_ALLOWED_HOSTS=
# https://djecrety.ir/
DJANGO_SECRET_KEY=
# Not required, but you can add them as a string with commas
DJANGO_SECRET_KEY_FALLBACKS=
# Enabling/Disabling gunicorn's daemon support (Default: False)
DJANGO_GUNICORN_DAEMON=False

# Django SSL (mostly for local imitation)
# True/False (Default: False)
DJANGO_SSL=False
# Uncomment if used
# DJANGO_SSL_KEYFILE=
# DJANGO_SSL_CERTFILE=

# Django Postgres DB (Default: False)
DJANGO_POSTGRES=False
# POSTGRES_DB=
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_HOST=
# POSTGRES_PORT=

# Django Redis DB (Default: False)
DJANGO_REDIS=False


# Google reCAPTCHA (via https://www.google.com/recaptcha/admin/create)
DJANGO_RECAPTCHA_PUBLIC_KEY=
DJANGO_RECAPTCHA_PRIVATE_KEY=
