{% load static %}
<div class="flex w-full">
    <div class="flex flex-col w-full px-5 2md:px-7 py-6 bg-light-gray rounded-3xl">
        <h1 class="text-[.813rem] leading-[1.125rem] text-dark-white font-semibold mb-4">TODAY'S FORECAST</h1>
        <div class="grid grid-cols-6">
            {% for index in data.hourly %}
                <div class="flex">
                    {% if not forloop.first %}<div class="flex bg-slate-600 h-full w-[.031rem]"></div>{% endif %}
                    <div class="flex mx-auto flex-col items-center">
                        <span class="text-sm text-dark-white font-semibold">{{ data.hourly|index:forloop.counter0|index:'date' }}</span>
                        <span class="max-w-8 max-h-8 xl:max-w-15 xl:max-h-15">
                            <picture>
                                <source srcset="{% static data.hourly|index:forloop.counter0|index:'icon_url'|index:'webp' %}"
                                        type="image/webp">
                                <img src="{% static data.hourly|index:forloop.counter0|index:'icon_url'|index:'png' %}"
                                     alt="{{ data.hourly|index:forloop.counter0|index:'description' }}" />
                            </picture>
                        </span>
                        <span class="text-2xl text-light-white">{{ data.hourly|index:forloop.counter0|index:'temperature' }}°</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
