<!--BUG: make variables dynamic dynamic-->
<button
    {{
    attrs
    }}
    type="button"
    x-data="{
    location: window.location.pathname === '{{ url }}',
    activebtn: 'font-normal',
    init() {
    this.$watch('location', value => {
    this.activebtn = location ? 'font-bold' : 'font-normal'
    })
    }
    }"
    :class="'flex flex-col items-center mt-8 text-light-white ' + activebtn"
    hx-get="{{ url }}"
    hx-target="#content"
    hx-swap="innerHTML"
    hx-trigger="click"
    hx-replace-url="true"
    >
    <iconify-icon icon="{{ icon }}" class="text-xl mb-3"></iconify-icon>
    <span class="text-sm">{{ text }}</span>
</button>
