{# FIX: SynchronousOperationError: request.user.is_authenticated #}
<button
    {{
    attrs
    }}
    type="button"
    x-data="{activeBtn: false, display: ' block'}"
    x-effect="
    activeBtn = $store.navigation.currentPath === '{{ url }}' ? 'font-bold' : 'font-normal';
    "
    :class="'flex flex-col items-center mt-8 text-light-white cursor-pointer ' + activeBtn"
    hx-get="{{ url }}"
    hx-target="#content"
    hx-swap="innerHTML"
    hx-trigger="click"
    hx-push-url="true"
    >
    <iconify-icon icon="{{ icon }}" class="text-xl mb-3"></iconify-icon>
    <span class="text-sm">{{ text }}</span>
</button>
