{# FIX: reactive request.user.is_authenticated #}
{% load static %}
<div class="flex max-2xl:hidden flex-col px-[.938rem] py-6 items-center rounded-3xl bg-light-gray">
    <picture>
        <source srcset="{% static 'assets/icons/logo.webp' %}" type="image/webp">
        <img src="{% static 'assets/icons/logo.png' %}"
             alt="sidebar_logo"
             class="w-11 mb-[1.25rem]" />
    </picture>
    <div class="flex flex-col w-[3.629rem]">
        <c-sidebar.button icon="fa-solid:cloud-sun-rain" text="Weather" url='{% url 'client:index' %}' />
        <c-sidebar.button icon="dashicons:menu-alt" text="Cities" url="/cities" />
        <c-sidebar.button icon="tdesign:user-filled" text="Auth" url="{% url 'users:login' %}" />
        <c-sidebar.button icon="material-symbols:logout" text="Logout" url="{% url 'users:logout' %}" />
    </div>
</div>
