<nav x-data="{ navigationMenuOpen: false, navigationMenuCloseDelay: 200, navigationMenuCloseTimeout: null, navigationMenuLeave() { let that = this; this.navigationMenuCloseTimeout = setTimeout(() => { that.navigationMenuClose(); }, this.navigationMenuCloseDelay); }, navigationMenuReposition(navElement) { this.navigationMenuClearCloseTimeout(); this.$refs.navigationDropdown.style.left = navElement.offsetLeft + 'px'; this.$refs.navigationDropdown.style.marginLeft = (navElement.offsetWidth/2) + 'px'; }, navigationMenuClearCloseTimeout(){ clearTimeout(this.navigationMenuCloseTimeout); }, navigationMenuClose(){ this.navigationMenuOpen = false; } }"
     class="relative z-10 w-auto min-[38rem]:hidden ml-auto">
    <div class="relative">
        <button @mouseover="navigationMenuOpen=true; navigationMenuReposition($el); navigationMenu='getting-started'"
                @mouseleave="navigationMenuLeave()"
                class="focus:outline-none disabled:pointer-events-none">
            <iconify-icon class="flex shrink text-light-gray px-4" icon="ic:round-menu" width="2.5rem" height="2.5rem"></iconify-icon>
        </button>
    </div>
    <div x-ref="navigationDropdown"
         x-show="navigationMenuOpen"
         x-transition:enter="transition ease-out duration-100"
         x-transition:enter-start="opacity-0 scale-90"
         x-transition:enter-end="opacity-100 scale-100"
         x-transition:leave="transition ease-in duration-100"
         x-transition:leave-start="opacity-100 scale-100"
         x-transition:leave-end="opacity-0 scale-90"
         @mouseover="navigationMenuClearCloseTimeout()"
         @mouseleave="navigationMenuLeave()"
         class="absolute top-0 pt-3 duration-200 ease-out -translate-x-1/2 translate-y-11"
         x-cloak>
        <div class="flex justify-center w-auto h-auto overflow-hidden bg-light-gray border rounded-md shadow-sm border-neutral-200/70">
            <div class="flex items-stretch justify-center w-full max-w-2xl p-3 gap-x-3">
                <div class="flex flex-col justify-center w-24">
                    <c-sidebar.button icon="fa-solid:cloud-sun-rain" text="Weather" url="{% url 'client:index' %}" @click="navigationMenuClose()" />
                    <c-sidebar.button icon="dashicons:menu-alt" text="Cities" url="/cities" @click="navigationMenuClose()" />
                    <c-sidebar.button icon="tdesign:user-filled" text="Auth" url="{% url 'users:login' %}" @click="navigationMenuClose()" />
                    <c-sidebar.button icon="material-symbols:logout" text="Logout" url="{% url 'users:logout' %}" @click="navigationMenuClose()" />
                </div>
            </div>
        </div>
    </div>
</nav>
