<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body class="flex flex-col items-center justify-center h-dvh bg-dark-gray text-light-white">
        <div class="text-6xl font-semibold">404</div>
        <div class="text-2xl">Not Found</div>
    </body>
</html>
