{% load static %}
<div class="w-full">
    <div class="flex px-11 py-7">
        <div class="flex-grow">
            <div class="mb-6">
                <h2 class="text-4xl text-light-white font-semibold mb-1.5">{{ data.city }}</h2>
                <h3 class="text-xl text-light-white font-semibold">{{ data.country }}</h3>
                <span class="text-sm text-dark-white font-normal tracking-wide">Chance of rain: {{ data.current.rain }}%</span>
            </div>
            <div class="mb-2">
                <span class="text-6xl text-light-white font-medium">{{ data.current.temperature }}°</span>
            </div>
        </div>
        <img class="h-[194px]"
             src="{% static data.current.icon_url %}"
             alt="{{ data.current.description }}" />
    </div>
</div>
