<div class="w-full">
    <div class="flex px-11 py-7">
        <div class="flex-grow">
            <div class="mb-6">
                <h2 class="text-4xl text-light-white font-semibold mb-1.5">{{ data.city }}</h2>
                <h3 class="text-xl text-light-white font-semibold">{{ data.country }}</h3>
                <span class="text-sm text-dark-white font-normal tracking-wide">Chance of rain: {{ data.current.rain }}%</span>
            </div>
            <div class="mb-2">
                <span class="text-6xl text-light-white font-medium">{{ data.current.temperature }}°</span>
            </div>
        </div>
        <img class="h-[194px]"
             x-data="{ isDay: {{ data.current.is_day|lower }}, weatherCode: {{ data.current.weather_code }} }"
             :src="isDay ? forecast_icons[weatherCode].day : forecast_icons[weatherCode].night"
             :alt="forecast_icons[weatherCode].description" />
        <!--<iconify-icon icon="wi:night-alt-cloudy" height="194px" width="194px"></iconify-icon>-->
    </div>
</div>
