{# FIX: search engine can't look up for cities with more than one word #}
{# djlint: off #}
<div x-data=" {
    query: '',
    cities: [], // Stores suggested cities
    highlightedIndex: 0,
    index: null,
    get fetchCities() {
        if (this.query.length > 0) {
            fetch(`{% url 'server_api:city' %}?q=${this.query}`).then((response) => response.text()).then((list) => {
                this.cities = JSON.parse(list);
                this.highlightedIndex = 0;
            })
        } else {
            this.cities = [];
        }
    },
    get showSuggestions() {
        if (this.tmpCities) this.cities = this.tmpCities;
    },
    get hideSuggestions() {
        this.tmpCities = this.cities;
        this.cities = [];
    },
    get highlightNext() {
        if (this.highlightedIndex < this.cities.length - 1) {
            this.highlightedIndex++;
        } else {
            this.highlightedIndex = 0;
        }
    },
    get highlightPrevious() {
        if (this.highlightedIndex > 0) {
            this.highlightedIndex--;
        } else {
            this.highlightedIndex = this.cities.length - 1;
        }
    },
    // Send the response to the backend and retrieve an updated data
    get selectCity() {
        const defaultSelected = this.cities[this.index ?? this.highlightedIndex]; 
        const selectedCity = defaultSelected.city;
        const selectedCountry = defaultSelected.country;
        const selectedLatitude = defaultSelected.lat;
        const selectedLongitude = defaultSelected.lon;
        
        if(selectedCity && selectedCountry) {
            // Use cookies to set the values unchanged after reload
            let expires = new Date();
            expires.setTime(expires.getTime() + 7 * 86400 * 1000); // 7 days * 24 hours * 1 sec
            document.cookie = 'city=' + selectedCity + '; expires=' + expires.toUTCString();
            document.cookie = 'country=' + selectedCountry + '; expires=' + expires.toUTCString();
            document.cookie = 'lat=' + selectedLatitude + '; expires=' + expires.toUTCString();
            document.cookie = 'lon=' + selectedLongitude + '; expires=' + expires.toUTCString();

            window.history.pushState({}, '', this.url);
            htmx.ajax('GET', '{% url 'server_api:weather' %}', {
                values: {
                    city: selectedCity,
                    country: selectedCountry,
                    lat: selectedLatitude,
                    lon: selectedLongitude,
                },
                handler: (elt, response) => {
                    const contentElement = document.getElementById('content');
                    const data = JSON.parse(response.xhr.responseText);
                    Alpine.$data(contentElement).updateWeather(data);
                }
            });
            this.cities = [];
        }
    }
} "
     class="relative w-full grow">
    <input type="text"
           x-model="query"
           @input.debounce.300ms="fetchCities"
           @focus="showSuggestions"
           @blur="hideSuggestions"
           @keyup.arrow-down="highlightNext"
           @keyup.arrow-up="highlightPrevious"
           @keyup.enter.prevent="selectCity"
           placeholder="Search for cities"
           class="w-full py-[13px] px-3 rounded-[.6rem] bg-light-gray text-[13px] leading-[18px] text-light-white text-light-text outline-none placeholder:text-light-white" />
    <div x-show="cities.length > 0"
         class="absolute left-0 right-0 overflow-y-auto text-[13px] leading-[18px] mt-2 text-light-white bg-light-gray gap-2 rounded-[.6rem]">
        <template x-for="(city, index) in cities" :key="index">
            <div :class="'flex flex-col p-2 rounded-[.6rem] cursor-pointer' + (index === highlightedIndex ? ' bg-dark-white' : '')"
                 @mousedown="selectCity">
                <span x-text="city.city"></span>
                <span x-text="city.country"></span>
            </div>
        </template>
    </div>
</div>
