<div id="weather" class="flex grow">
    <div class="flex flex-col grow-2 min-[38rem]:mx-5.5">
        <div class="flex flex-row">
            <c-search />
            <c-sidebar.menu />
        </div>
        <div class="flex">
            <c-city-info />
        </div>
        <div class="flex mb-4">
            <c-forecast.hourly />
        </div>
        <div class="flex">
            <c-air-conditions />
        </div>
        <div class="flex 2md:hidden max-lg:mt-4">
            <c-forecast.daily />
        </div>
    </div>
    <div class="flex max-2md:hidden grow mt-[3.5rem]">
        <c-forecast.daily />
    </div>
</div>
